# Backend API URL for production deployment (Leave blank in development to use Vite local proxy)
VITE_API_URL=https://retrievo-backend.onrender.com

# Cloudinary Cloud Storage Configuration
VITE_CLOUDINARY_CLOUD_NAME=ekjigkjf
VITE_CLOUDINARY_UPLOAD_PRESET=retrievo_uploads
